/* .overlay{
    width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: transparent;
}

.component{
    width: 40%;
    height: fit-content;
    box-shadow: 0rem 0.3125rem 2.1875rem #00000033;
    z-index: 50;
    top: 20%;
    left: 30%;
    position: absolute;
}

.body-component{
    background: #ffffff 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    text-align: center;
    font-size: 4rem;
    padding-top: 1rem;
}

.mobile-header{
    font-size: 2rem;
    margin-top: 1rem;
}

/* .mobile-number-box{
    width: 60%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
} */

/* .signup-button{
    width: 60%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #333333;
    border-radius: 0.5rem;
    margin-top: 1rem ;
} */ 